<!DOCTYPE html>
<html>
<head>
  <title>いれいすクイズ</title>
</head>
<body>
  <h1>いれいすクイズ！</h1>
  
  <form action="/check" method="post">
    <% quiz_data.each_with_index do |quiz, index| %>
      <div class="question">
        <p><%= quiz[:question] %></p>
        <% quiz[:choices].each_with_index do |choice, choice_index| %>
          <label>
            <input type="radio" name="<%= index %>" value="<%= choice_index %>">
            <%= choice %>
          </label><br>
        <% end %>
      </div>
    <% end %>
    
    <input type="submit" value="提出">
  </form>
</body>
</html>
